

<body>

<div id="menu-wrapper" class="navbar navbar-expand-lg navbar-black bg-black">
    <ul id="hmenu" class="d-flex justify-content-center">
        <li><a href="/Home/Index">Inicio</a></li>
        <li>
            <a class="op-1" href="#">Catálogos</a>
            <ul class="sub-menu">

                <li><a href="~/Departamentos/Index">Departamentos</a></li>
                <li><a href="~/Municipios/Index">Municipios</a></li>
                <li><a href="~/Clientes/Index">Clientes</a></li>
                <li><a href="~/Sexoes/Index">Sexo</a></li>
                <li><a href="~/TipoDeClientes/Index">Tipos de Clientes</a></li>

            </ul>
        </li>

        <li>
            <a class="op-1" href="#">Datos</a>
            <ul class="sub-menu">
                <li><a href="~/Contratoes/Index">Contratos</a></li>
                <li><a href="~/Reciboes/Index">Recibos</a></li>

            </ul>
        </li>

        <li>
            <a class="op-1" href="#">Informes</a>
            <ul class="sub-menu">
                <li><a href="~/Contratoes/Index">Informe Contratos</a></li>

            </ul>
        </li>

    </ul>
</div>

</body>
