

<body>
<div id="menu-wrapper" style="position:relative; float:left; margin-right:20px; width:auto;">
    <ul id="hmenu">
        <li><a href="/Home/Index">Inicio</a></li>

        <li>
            <a class="op-1" href="#">Catálogos</a>
            <ul class="sub-menu">

                <li><a href="~/Departamentos/Index">Departamentos</a></li>
                <li><a href="~/Municipios/Index">Municipios</a></li>
                <li><a href="~/Clientes/Index">Clientes</a></li>
                <li><a href="~/Sexoes/Index">Sexo</a></li>
                <li><a href="~/TiposDeClientes/Index">Tipos de Clientes</a></li>

            </ul>
        </li>

        <li>
            <a class="op-1" href="#">Datos</a>
            <ul class="sub-menu">
                <li><a href="~/Contratoes/Index">Contratos</a></li>
                <li><a href="~/Reciboes/Index">Recibos</a></li>
                
            </ul>
        </li>

        <li>
            <a class="op-1" href="#">Informes</a>
            <ul class="sub-menu">
                <li><a href="~/Contratos/Index">Informe Contratos</a></li>
   
            </ul>
        </li>
       
    </ul>
</div>
</body>
