@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Control de Créditos</h1>
    </section>




    <div class="row">
        <img src="https://static.vecteezy.com/system/resources/previews/023/077/874/non_2x/credit-report-credit-rating-tiny-people-analysts-credit-risk-control-personal-credit-score-information-and-financial-rating-modern-flat-cartoon-style-illustration-on-white-background-vector.jpg"/>
    </div>
</main>